:root { /* colon only a selector in CSS */
   /* defining global variables in CSS must use double - */
    --card-width: calc(1000/6 * 1px);
    --card-height: calc(var(--card-width) * 1.5);
}
 
body {
    text-align: center;
    background-color: #f0f0f0;
    color: rgb(17, 17, 17)
}

h1 {
    font-size: 3rem; /* rem = Root element, relative to root font size */
}

p {
    font-size: 2rem;
    font-weight: bold;
}

.card-table {
    display: grid;
    grid-template-columns: repeat(6, var(--card-width));
    grid-template-rows: repeat(2, var(--card-height));
    
    /* center the content left to right */
    justify-content: center;

    /*set spacing between grid items*/
    row-gap: 2rem;
    column-gap: 1rem;
}

/* individual card styles */
div.card {
    position: relative;
    width: var(--card-width);
    height: var(--card-height);
    transition: all 0.5s ease-in-out;
}
div.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img.back-image {
    width: 100%;
    height: auto;   
}

.card-back,
.card-front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.card-back {
    z-index: 2;
}

.card-front {
    z-index: 1;
}
.card.flipped .card-back {
    transform: rotateY(180deg);
    transition: all 0.5s ease-in-out;
}
.card.flipped .card-front {
    transform: rotateY(0deg);
    transition: all 0.5s ease-in-out;
}
.card.matched {
    box-shadow: 0 0 20px 5px gold;
    border: 2px solid orange;
}

/* losing image styles */
.losing-image-wrapper, .winning-image-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1s ease;
}

.losing-image-wrapper, .winning-image-wrapper img {
    max-width: 75%;
    max-height: auto;
    margin-top: 5%;
    rotate: -15deg;
}
.reset-button {
    margin-top: 50%;
    font-family: 'Times New Roman', Times, serif;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    background-color: orange;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
.reset-button:hover {
    background-color: darkorange;
}

/* starfield styles */
.star-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none; /* THIS IS KEY - allows clicks through */
    z-index: 0;
}

.star {
    position: absolute;
    top: -10px;
    width: 10px;
    height: 10px;
    background-color: rgb(240, 6, 6);
    border-radius: 50%;
    pointer-events: none;
    opacity: 1; /* stars start fully visible */
    animation: fall linear;
}

@keyframes fall {
    0% {
        transform: translateY(0);
        opacity: 1; /* stars start fully visible */
    }
    100% {
        transform: translateY(100vh);
        opacity: 0; /* stars fade out as they fall */
    }

}